<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

  <%- include('partials/header') %>

  <main class="flex-grow p-10">
     <div class="max-w-md mx-auto login-box shadow">
      <h1 class="text-xl font-bold mb-4">Đăng nhập</h1>
      <% if (error) { %>
        <p class="text-red-500 mb-4"><%= error %></p>
      <% } %>
      <form method="POST" action="/login" class="space-y-4">
        <input type="text" name="username" placeholder="Username" class="w-full border px-3 py-2 rounded" required />
        <input type="password" name="password" placeholder="Password" class="w-full border px-3 py-2 rounded" required />
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Login</button>
      </form>
    </div>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
